html, body, #map {
  padding:0;
  margin:0;
  height:100%;
}

#chp {
	z-index: 100;
}

.esriControlsRB {
	display: none;
}


#layerSelect {
	float: right;
	margin-top: 60px;
	margin-left: 181px;
	width: 130px;
	position: absolute;
	z-index: 2;
}

#logo {
	width: 50px;
	height: 50px;
	float: left;
	margin-top: -1px;
}

#logoFont {
	margin-left: 10px;
	margin-top: 10px;
	font-family: helvetica, sans-serif;
	font-size: 24px;
	color: white;
	float: left;
}

.map {
	height: 100%;
	left: 0;
	width: 100%;
	position: fixed;
	top: 50px;
	overflow: hidden;
}

#navbar {
	width: 100%; 
	height: 50px;
	z-index: 2;
	background-color: #3c557d;
	position: fixed;
	float: left;
	margin-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

#search {
	display: block;
	margin-top: 20px;
	margin-left: 85px;
	z-index: 2;
	float: left;
	position: absolute;
}

#viewTog {
	
	float: right;
	margin-top: 60px;
	margin-left: 85px;
	position: absolute;
	z-index: 2;
}


#toolbar {
	float: right;
	right: 60px;
	position: absolute;
}

#toolhead {
	font-family: helvetica, sans-serif;
	font-size: 22px;
}


.zoomLocateButton {
	position: absolute;
	top: 95px;
	left: 20px;
	z-index: 2;
	background-image: url('img/locate.png');
	border-radius: 0;
}

@media only screen and (max-width: 1080px) { 

	.esriControlsBR {
		z-index: -1;
	}
	
	#layerSelect {
		margin-left: 161px;
	}

	#logoFont {
		font-size: 18px;
	}

	.esriSimpleSlider {
		z-index: 0;
	}

	#layerSelect {
		position: absolute;
	}
	
	#navbar {
		padding-left: 2px;
		padding-right: 2px;
	}

	#search {
		margin-left: 65px;
	}

	#slidePanel {
		z-index: 31;
		position: relative;
		height: 100%;
		float: left;
	}
	
	#slidePan {
		padding: 0px;
		margin-top: 0px;
	}

	#spConBack {
		background-color: white;
		z-index: 31;
		position: absolute;
		height: 100%;
		float: left;
	}

	#viewTog {
		position: absolute;
		margin-left: 65px;
	}

	.zoomLocateButton {
		top: 21px;
		margin-left: 80%;

	}
		
}

@media only screen and (max-width: 720px) { 

	#logoFont {
		font-size: 16px;
	}

	.simpleGeocoder .esriGeocoderContainer {
		width: 205px;
	}

	#layerSelect {
		margin-left: 45%;
	}
}